<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mentiroso - Juego de Cartas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="cinquillo.js"></script>
</head>
<body  class="container-fluid">
    <h1 class="title">EL JUEGO DEL CINQUILLO</h1>
</body>
</html>